<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" name="search" [(ngModel)]="searchText" id="search" value="test" placeholder="Search accounts, contracts and transactions" class="form-control">
        </div>
    </div>
</div>
<a class="btn btn-lg btn-secondary btn-block" (click)='toggleImage()'>{{showImage ? 'Hide Image' : 'Show Image'}}</a>

<div class="row">
    <div class="col-md-3 col-sm-6" *ngFor='let product of products |grdFilter: {productName: searchText, productCode:searchText}'>
        <div class="product-grid">
            <div class="product-image" *ngIf="showImage">
                <a href="#">
                    <img class="pic-1" src="{{product.imageUrl}}">
                    <img class="pic-2" src="{{product.imageUrl2}}">
                </a>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">20%</span>
                <span class="product-discount-label" style="margin-top: 30px;">{{componentTitle}}</span>
            </div>

            <div class="product-content">
                <h3 class="title"><a href="#">{{product.productName | lowercase}}</a></h3>
                <h3 class="title"><a href="#">{{product.productCode | uppercase | convertToSpace:'-'}}</a></h3>
                <div class="price">{{product.price | currency:'LKR':'LKR':'1.2-2'}}
                    <span>{{product.PrePrice}}</span>
                </div>
                <div class="btn-group-vertical">
                    <app-star-rating [item]="product" (ratingClicked)='onRatingClicked($event)'></app-star-rating>
                </div>
            </div>

        </div>

    </div>
</div>