<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<app-header></app-header>
<!-- Page Content -->
<div class="container">
    <app-product></app-product>
    <div class="row mb-4 p-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" (click)="callMe()">Call to Action</a>
        </div>
    </div>
    <div class="row mb-4 p-4">
        <div class="col-md-8">
            <p>Change Date By Pipe</p>
            <p>{{customDate | date: format}}</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" (click)="changeDateFormat()">Call to Change Date Format</a>
        </div>
    </div>
    <app-form1></app-form1>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>