<div class="crop" [style.width.px]='starWidth' [title]="item.starRating" [style.height.px]='20' (click)='onClick()'>
    <div style="width:75px">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
</div>
<div class="underlayer">
    <div style="width:75px">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
</div>